<ng-container>
  <div style="display: flex; gap: 1em; align-items: center">
    <div
      [formGroup]="relationQueryForm"
      style="display: flex; gap: 1em; align-items: center"
    >
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Namespace</mat-label>
        <input matInput formControlName="namespace" required />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Object</mat-label>
        <input matInput formControlName="object" />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Relation</mat-label>
        <input matInput formControlName="relation" />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" *ngIf="subject">
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject_id" />
      </mat-form-field>
      <mat-form-field
        #setField
        appearance="outline"
        floatLabel="always"
        [formGroup]="subjectSetForm"
        *ngIf="!subject"
      >
        <mat-label>Subject</mat-label>
        <input
          matInput
          #nsInput="matInput"
          (click)="focusFormField(setField, nsInput)"
          (focusout)="unfocusFormField(setField, nsInput, $event)"
          formControlName="namespace"
          placeholder="Namespace"
          required
        />
        <input
          matInput
          #objInput="matInput"
          (click)="focusFormField(setField, objInput)"
          (focusout)="unfocusFormField(setField, objInput, $event)"
          formControlName="object"
          placeholder="Object"
          required
        />
        <input
          matInput
          #relInput="matInput"
          (click)="focusFormField(setField, relInput)"
          (focusout)="unfocusFormField(setField, relInput, $event)"
          formControlName="relation"
          placeholder="Relation"
          required
        />
      </mat-form-field>
      <button
        mat-raised-button
        style="order: -1"
        color="primary"
        (click)="query()"
        [disabled]="relationQueryForm.invalid"
      >
        Query
      </button>
    </div>

    <mat-button-toggle-group
      [value]="subject"
      (change)="toggleSubject($event.value)"
    >
      <mat-button-toggle [value]="true">ID</mat-button-toggle>
      <mat-button-toggle [value]="false">SET</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-slide-toggle
      color="accent"
      [ngModel]="rawData"
      (ngModelChange)="toggleColumns($event)"
    >
      Raw
    </mat-slide-toggle>
  </div>

  <ng-container *ngIf="dataSource$ | async as data">
    <table mat-table [dataSource]="data.tuples" class="mat-elevation-z8">
      <ng-container matColumnDef="namespace">
        <th mat-header-cell *matHeaderCellDef>Namespace</th>
        <td mat-cell *matCellDef="let element">{{ element.namespace }}</td>
      </ng-container>

      <ng-container matColumnDef="object">
        <th mat-header-cell *matHeaderCellDef>Object</th>
        <td mat-cell *matCellDef="let element">{{ element.object }}</td>
      </ng-container>

      <ng-container matColumnDef="relation">
        <th mat-header-cell *matHeaderCellDef>Relation</th>
        <td mat-cell *matCellDef="let element">{{ element.relation }}</td>
      </ng-container>

      <ng-container matColumnDef="subject_id">
        <th mat-header-cell *matHeaderCellDef>Subject</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.subject_set
              ? this.formatSubjectSet(element.subject_set)
              : element.subject_id
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="relations">
        <th mat-header-cell *matHeaderCellDef>Relations</th>
        <td mat-cell *matCellDef="let element">
          <app-relation-tuple
            [relationTuple]="element"
            [subjectTemplate]="subjectIdTemplate"
            [subjectSetTemplate]="subjectSetTemplate"
          ></app-relation-tuple>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="totalDataLength(data)"
      [pageSize]="100"
      aria-label="Select page"
      (page)="onPageChange($event)"
      [pageIndex]="pageIndex"
    >
    </mat-paginator>
  </ng-container>
</ng-container>
