<div style="display: flex; flex-direction: column; flex: 1">
  <div
    [formGroup]="formGroup"
    style="display: flex; gap: 1em; align-items: center"
  >
    <button
      mat-raised-button
      color="primary"
      (click)="expand()"
      [disabled]="formGroup.invalid"
    >
      Expand
    </button>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Namespace</mat-label>
      <input matInput formControlName="namespace" />
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Object</mat-label>
      <input matInput formControlName="object" />
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Relation</mat-label>
      <input matInput formControlName="relation" />
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Max Depth</mat-label>
      <input matInput formControlName="max_depth" />
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Subject</mat-label>
      <input matInput formControlName="subject" />
    </mat-form-field>
  </div>
  <div #cy id="cy" style="flex: 1"></div>
</div>
