<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let route of routes"
        mat-list-item
        routerLinkActive
        #routerLink="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/' + route.href]"
        [activated]="routerLink.isActive"
      >
        <mat-icon matListItemIcon>{{ route.icon }}</mat-icon>
        <div matListItemTitle>{{ route.title }}</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="display: flex; flex-direction: column">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ory Keto Dashboard</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="margin: 1em; display: flex; flex: 1" class="fit-children">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
