<div *ngIf="_relationTuple">
  <ng-container *ngFor="let token of tokens">
    <span [ngClass]="{ bold: specialToken(token) }" style="font-size: 1.75em">{{
      hydrateToken(token)
    }}</span>
  </ng-container>
</div>
