<div>
  <div [formGroup]="relationQuery" style="display: flex; gap: 1em; align-items: center">
    <button mat-raised-button color="primary" (click)="check(relationQuery)" [disabled]="!relationQuery.valid">Check</button>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Namespace</mat-label>
      <input matInput formControlName="namespace" required>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Object</mat-label>
      <input matInput formControlName="object" required>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Relation</mat-label>
      <input matInput formControlName="relation" required>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Subject</mat-label>
      <input matInput formControlName="subject_id" required>
    </mat-form-field>
    <div class="result" [ngStyle]="{'background-color': getClass((checkResponse$ | async)?.allowed)}">
      {{getLetter((checkResponse$ | async)?.allowed)}}
    </div>
  </div>
</div>
