<div
  style="display: flex; flex-direction: column; flex: 1"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <button mat-icon-button color="accent" (click)="addRequest()">
    <mat-icon>add</mat-icon>
  </button>

  <div
    cdkDrag
    style="display: flex; flex-direction: row; gap: 1em; align-items: center"
    *ngFor="let check of checks; index as i; trackBy: trackByIndex"
  >
    <mat-icon cdkDragHandle matTooltip="Reorder me!">drag_indicator</mat-icon>
    <app-permission-check
      [relationTuple]="check"
      (relationTupleChange)="checks[i] = $event; saveStorage()"
    ></app-permission-check>
    <button
      style="align-self: flex-start"
      mat-fab
      color="warn"
      (click)="removeRequest(i)"
    >
      <mat-icon style="transform: scale(1.5)">delete</mat-icon>
    </button>
  </div>
</div>
