<ng-container>
  <mat-form-field appearance="outline" floatLabel="always" ga>
    <mat-label>Ory-Keto Read</mat-label>
    <input matInput [formControl]="readFormControl" />
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Ory-Keto Write</mat-label>
    <input matInput [formControl]="writeFormControl" />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
    <mat-label>Subject template</mat-label>
    <input matInput [formControl]="subjectTemplateFormControl" />
    <mat-hint>{{ templateTooltipText }}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
    <mat-label>SubjectSet template</mat-label>
    <input matInput [formControl]="subjectSetTemplateFormControl" />
    <mat-hint>{{ templateTooltipText }}</mat-hint>
  </mat-form-field>
</ng-container>
